<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Modules" value=""/>
    <add key="NewVersionServer" value=""/>
    <add key="EnableDiagnosticActions" value="False"/>
    <add key="eXpressAppFrameworkTraceLevel" value="3"/>
  </appSettings>
  <connectionStrings>
    <add name="EasyTestConnectionString" connectionString="XpoProvider=SQLite;Data Source=Landrys_Loop_Checkout_SystemEasyTest.llcs"/>
  </connectionStrings>
</configuration>
